.dashboard-container {
    background-image: url('/dashboard.png');
    background-size: cover;
    background-position: center;
    background-color: #F2F2F2; /* Fallback color */
    min-height: 100vh; /* Ensures the container covers at least the viewport height */
    position: relative;
    padding: 20px;
}

/* DashboardPage.css */
  
  .search-filter-container {
    padding-top: 160px; /* Adjusted padding */
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 1rem; /* Adjusted margin */
  }
  
  .favorite-button-container {
    margin-top: 10px; /* Lowered by 10px */
    display: flex;
    justify-content: flex-end;
  }
  
  .favorite-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  