/* Global styles */
body, html{
  width: 100%;
  height: 100%;
}

.bold-black-title {
  font-weight: bold;
  color: black;
}

.pill-list-container {
  height: 300px; /* Set a fixed height as per your design */
  overflow: hidden; /* Prevent scrolling */
}

