.page {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust based on your design */
}

.buttonContainer {
    position: absolute;
    top: 75px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 10; /* Ensure the button is above the image */
}

.circleContainer{
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: flex-end; /* Aligns content to the bottom */
    z-index: 10; /* Ensure the button is above the image */
    margin-bottom: 10px;
}

.backButton {
    background: transparent; /* Fully transparent background */
    border: none;
    border-radius: 5px; /* Optional: rounded corners */
    padding: 10px 15px; /* Optional: padding */
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    color: transparent; /* Fully transparent text */
}

.circleButton {
    background: transparent; /* Fully transparent background */
    border: 2px solid rgba(255, 255, 255, 0.7); /* Optional: a border for visibility */
    border-radius: 50%; /* Makes the button circular */
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    cursor: pointer;
    position: relative; /* If you want to position it further */
    margin-top: 10px; /* Adjust spacing from the back button */
}
